%h1 Results

- if @bills.count == 0 && @legislators.count == 0
  %p No results found for #{params[:search_term]}. Please try another search.
- else
  %h2 Bills
  = render partial: 'shared/bills'

  %h2 Legislators
  = render partial: 'shared/legislators'
