.pull-right
  %form.form-inline{:role => "form"}
    .form-group
      .input-group
        .input-group-addon @
        %input.form-control{:placeholder => "Enter email", :type => "email", :name => "email"}/
    .form-group
      %label.sr-only{:for => "loginPassword"} Password
      %input#loginPassword.form-control{:placeholder => "Password", :type => "password", :name => "password"}/
    %button.btn.btn-default{:type => "submit"} Login
%br
%br
.pull-right
  =link_to "Register", "registration/"
%br
